[Unit]
Description=Relay Server
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/Pi-Relay-Server/server.py
[Install]
WantedBy=multi-user.target
